<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="../css/main.css" type="text/css"/>
  <script src='/socket.io/socket.io.js'></script>
  <script src='/js/socket.js'></script>
  <title>Socket.IO chat</title>
  </head>
  <body>
    <ul id="messages">
      <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>    
  </body>
</html>