* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 25px ;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url('../images/yog.jpg');
}

.world {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.08); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.05); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 2000ms;
  -webkit-transform-origin:80% 80%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


form {
  padding: 3px;
  position: fixed;
  bottom: 0;
  height: 40%;
  width: 100%;
}

form input {
  background-image: url('../images/gel.jpg');
  font-size:25px;
  font-family:'Open Sans Condensed', sans-serif;
  opacity: 0.95;
  border: 0;
  padding: 10px;
  height: 100%;
  width: 80%;
  margin-right: .5%;
}

form button {
  background-image: url('../images/handz.jpg');
  width: 19.5%;
  height: 100%;
  border: none;
  padding: 5px;
}

button #m {
  background-image: url('../images/handz.jpg');
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 10px 10px;
}

#messages li:nth-child(odd) {
  opacity: 0.4;
}